@mixin formStyle {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.bookingContainer {
  .booking {
    img {
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
    margin-top: 5px;

    .formContainer {
      background-color: #f2f2f2;
      border: 1px solid lightgrey;
      border-radius: 3px;
      margin: 0 auto;

      h2 {
        text-align: center;
        text-shadow: #abb557 2px 2px 2px;
      }
    }

    input[type]:not([type="submit"]) {
      @include formStyle;
    }
    select,
    textarea {
      @include formStyle;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    .btn {
      background-color: #abb557;
      color: whitesmoke;
      border: none;
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: white;
      }

      & a:hover {
        background-color: white;
        color: #abb557;
      }
      &:hover {
        background-color: white;
        color: #abb557;
      }
    }
  }

  .rooms-gallery {
    .grid-style1 {
      background-image: url(../images/room9.jpg);
    }

    .grid-style2 {
      background-image: url(../images/room11.jpg);
    }

    .grid-style3 {
      background-image: url(../images/room10.jpg);
    }

    .grid-style4 {
      background-image: url(../images/room18.jpg);
    }

    .grid-style5 {
      background-image: url(../images/room6.jpg);
    }

    .grid-style6 {
      background-image: url(../images/room4.jpg);
    }
  }

  @media screen and (max-device-width: 763px) {
    .formContainer {
      width: 95%;
      margin-top: 20px;
    }
  }
  @media screen and (min-device-width: 768px) {
    .formContainer {
      margin-top: 20px;
      height: 730px;
    }
  }
}
