* {
  font-family: "Montserrat", sans-serif;
}
.btn-container {
  display: flex;
  justify-content: center;
  a,
  button {
    text-decoration: none;
    color: whitesmoke;
    background-color: #abb557;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:hover {
      background-color: white;
      color: #abb557;
      transform: scale(1.3);
    }
  }
}

a,
i {
  color: white;
  transition: transform 2s ease-in-out;
}

i:hover {
  transform: scale(1.3);
}
i {
  padding-left: 20px;
}
