.main {
  h3 {
    color: #abb557;
    text-decoration: underline;
    text-shadow: rgb(247, 152, 135) 1px 1px 1px;
  }
}
.food-gallery-container {
  .grid-style1 {
    background-image: url(../images/food13.jpg);
  }

  .grid-style2 {
    background-image: url(../images/food15.jpg);
  }

  .grid-style3 {
    background-image: url(../images/food6.jpg);
  }

  .grid-style4 {
    background-image: url(../images/food9.jpg);
  }

  .grid-style5 {
    background-image: url(../images/food10.jpg);
  }

  .grid-style6 {
    background-image: url(../images/food12.jpg);
  }
}
