* {
  font-family: "Montserrat", sans-serif;
}
footer {

  @mixin formStyle {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
  }
  @mixin buttonStyle {
    color: whitesmoke;
    border: none;
    border-radius: 10px;
  }

  .footer-content-container {
    background-color: #8a8a8a;
    margin-top: 20px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    background-color: rgba(210, 105, 30, 0.568);
    font-size: 1rem;
  }


  a {
    text-decoration: none;
    color: white;
    transition: transform 2s ease-in-out;
    padding: 2px;
  }



  .input-group {
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    @include formStyle;
  }
  .btn {
    @include buttonStyle;
  }

  span:hover,
  a:hover,
  i:hover {
    color: whitesmoke;
    transform: scale(1.3);

  .contact-container {
    span:hover,
    i:hover {
      color: #abb557;
    }

  }
}
@media screen and (max-width: 425px) {
  .explore {
      display: none;
      
    }
    .footer-content-container{
      height: 560px;
     /*  font-size: 0.8rem; */
    }
}

@media screen and (min-width: 768px) {
  .footer-content-container {
    height: 340px;
  }

}
