@mixin grid-style {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-template-areas: "surfService yogaService" "surfService foodService";
  gap: 10px;
}
@mixin backgroundStyle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin flexContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@mixin link {
  text-decoration: none;
  color: beige;
}

main {
  .booking {
    height: 50px;
    border: none;
    color: #fff;
    background: #abb557;
    cursor: pointer;
  }
  .banner {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #f1f4db;
    padding-bottom: 30px;
  }
  .reserveBooking {
    @include flexContainer();
    margin-top: 20px;
  }
  .services {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    background-color: #abb557;
    a {
      @include link;
    }
  }
  .surfService {
    background-image: url(../images/servicebg3.jpg);
    @include backgroundStyle;
  }
  .yogaService {
    background-image: url(../images/yoga2.jpg);
    @include backgroundStyle;
  }
  .foodService {
    background-image: url(../images/servicebg2.jpg);
    @include backgroundStyle;
  }
  video {
    height: 250px;
  }
}

@media screen and (min-width: 768px) {
  .whatWeDo {
    @include grid-style;

    .surfService {
      grid-area: surfService;
    }
    .yogaService {
      grid-area: yogaService;
      margin-bottom: 0 !important;
    }
    .foodService {
      grid-area: foodService;
    }
  }
  video {
    height: 250px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
}
