.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 0;
  background-color:chocolate;
  opacity: 0.6;
  .nav-link {
    color: whitesmoke;
  }
  .nav-item {
    margin-left: 20px;
  }
 
}
.btn {
  background-color: #abb557;
  color: whitesmoke;
  border: none;
}

.btn:hover {
  background-color: white;
  color:#abb557
}
@media screen and (max-width: 425px) {
  
  .d-block {
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 0.8rem;
  }
  .d-block {
    height: 474px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 1.2rem;
  }
  .d-block {
    height: 100vh;
  }
}

