.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 3;

  .logo {
    img {
      width: 50px;
    }
  }
}

@media all and (min-width: 768px) {
  .slideImg {
    .carousel-item img {
      height: 700px;
      object-fit: cover;
      object-position: top;
    }
  }
}
