.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 10px 0;
  background-color: rgba(210, 105, 30, 0.568);
  .nav-link {
    color: whitesmoke;
    opacity: 0.6;
    .nav-item {
      margin-left: 20px;
    }
  }
  .logo {
    img {
      width: 60px;
    }
    padding: 10px 0;
  }
  .navbar-toggler-icon {
    width: 20px;
    color: white;
  }
}
.btn {
  background-color: #abb557;
  color: whitesmoke;
  border: none;
  a {
    text-decoration: none;
    color: white;
  }

  & a:hover {
    background-color: white;
    color: #abb557;
  }
  &:hover {
    background-color: white;
    color: #abb557;
  }
}

@media screen and (max-width: 425px) {
  .d-block {
    height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .nav-item {
    font-size: 0.8rem;
  }
  .d-block {
    height: 474px;
  }
}
@media screen and (min-width: 1024px) {
  .nav-item {
    font-size: 1.2rem;
  }
  .d-block {
    height: 600px;
    object-fit: cover;
  }
}
