@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Fira+Sans+Condensed:wght@100&family=Itim&family=Jura&family=Lato:wght@300&family=Lobster&family=Maven+Pro&family=Monoton&family=Pacifico&family=Poller+One&family=Poppins:wght@300;400&family=Roboto+Condensed&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,500;1,400&family=Rubik+Gemstones&family=Rubik+Spray+Paint&display=swap");

.surfContainer {
  font-family: "Itim", cursive;

  .big-font {
    font-size: 23px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 300px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 30ms;
  }

  h3 {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  }

  // .sec1 img {
  //   display: inline-block;
  //   align-items: center;
  //   height: 300px;
  //   width: 300px;
  //   padding: 15px;
  //   border: 1px solid white;
  //   border-radius: 5px;
  //   cursor: pointer;
  //   transition: transform 0.5s ease;
  //   margin-top: 20px;
  //   border-radius: 50px;

  //   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // }
  // .sec1 img:hover {
  //   opacity: 0.5;
  //   transform: scale(1.1);
  // }

  .grid-style1 {
    background-image: url(../images/yoga-gall-1.jpg);
  }

  .grid-style2 {
    background-image: url(../images/yoga-gall-4.jpg);
  }

  .grid-style3 {
    background-image: url(../images/yoga-gall-2.jpg);
  }

  .grid-style4 {
    background-image: url(../images/yoga-gall-5.jpg);
  }

  .grid-style5 {
    background-image: url(../images/yoga-header5.jpg);
  }

  .grid-style6 {
    background-image: url(../images/yoga-gall-6.jpg);
  }
}
@media (max-width: 375px) {
  .import {
    text-align: start;
  }
}
