@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Fira+Sans+Condensed:wght@100&family=Itim&family=Jura&family=Lato:wght@300&family=Lobster&family=Maven+Pro&family=Monoton&family=Pacifico&family=Poller+One&family=Poppins:wght@300;400&family=Roboto+Condensed&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,500;1,400&family=Rubik+Gemstones&family=Rubik+Spray+Paint&display=swap");

.surfContainer {
  font-family: "Itim", cursive;

  .big-font {
    font-size: 23px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 300px;
    margin-top: 100px;
    border-radius: 10px;
    transition: 30ms;
  }

  h3 {
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 10px;
  }

  .image:hover {
    cursor: pointer;
    animation: image 5s ease-out both;
  }
  @keyframes image {
    0% {
      transform: scale(1) translateY(0);
      transform-origin: 50% 16%;
      opacity: 0.5;
    }
    100% {
      transform: scale(1.08) translateY(-15px);
      transform-origin: top;
      opacity: 0.9;
    }
  }

  .surf1 {
    background-image: url(/src/styles/surferImg/surf_rise.avif);
  }

  .surf2 {
    background-image: url(/src/styles/surferImg/surfer_rise4.jpg);
  }

  .surf3 {
    background-image: url(/src/styles/surferImg/surfer_rise3.webp);
  }

  .surf4 {
    background-image: url(/src/styles/surferImg/surf2.jpg);
  }

  .surf5 {
    background-image: url(/src/styles/surferImg/surfer_rise5.jpg);
  }

  .surf6 {
    background-image: url(/src/styles/surferImg/surf11.jpg);
  }

  @media screen and (max-width: 767px) {
    .gallery-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .image {
        height: 250px;
        width: 90%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .yoga-text {
      width: 77%;
    }
    .gallery-container {
      height: 80vh;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(30, 1fr);
    }
    .surf1 {
      grid-area: 1/2/11/6;
    }
    .surf2 {
      grid-area: 12/2/21/6;
    }
    .surf3 {
      grid-area: 1/6/9/10;
    }
    .surf4 {
      grid-area: 9/6/18/10;
    }
    .surf5 {
      grid-area: 19/6/30/10;
    }
    .surf6 {
      grid-area: 21/2/30/6;
    }
  }
  @media screen and (min-width: 1024px) {
    .yoga-text {
      width: 74%;
    }
    .gallery-container {
      height: 80vh;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(20, 1fr);
    }
    .surf1 {
      grid-area: 1/2/9/4;
    }
    .surf2 {
      grid-area: 9/2/19/4;
    }
    .surf3 {
      grid-area: 1/4/10/6;
    }
    .surf4 {
      grid-area: 1/6/11/8;
    }
    .surf5 {
      grid-area: 11/6/19/8;
    }
    .surf6 {
      grid-area: 10/4/19/6;
    }
  }
}
