footer {
  background-color: #333;
  color: #fff;
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  width: 33.33%;
  text-align: center;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.copyright {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 20px;
  font-size: 14px;
}

nav {
  margin-top: 20px;
}

nav h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-center h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-center ul li {
  margin-right: 20px;
}

.footer-center a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.footer-right h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.social-media {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-media a {
  margin-right: 10px;
  color: #fff;
  font-size: 24px;
}

.newsletter {
  margin-top: 20px;
  font-size: 14px;
}

.newsletter input[type="email"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}

.newsletter button[type="submit"] {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.newsletter button[type="submit"]:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    text-align: center;
  }
}
